#box1 {
  width: 50%;
  height: 40%;
  background-color: white;
  margin-left: 15%;
  border-top: 1px solid rgb(230, 224, 224);
}

#visa {
  height: 20px;
}

#deladrs {
  display: flex;
  border-bottom: 1px solid rgb(230, 224, 224);
}
#delmtd {
  margin-left: 50%;
}
.carddetails {
  display: flex;
  margin-left: -165px;
}
#carddetaill {
  margin-left: 25%;
}

#ddd {
  max-width: 60px;
  height: fit-content;
  background-color: blue;
}

#mainbox {
  display: flex;
  margin-top: 5%;
}
#headbox {
  display: flex;
}

.exper1 {
  display: none;
}

#lowerhead2 {
  width: 100%;
  margin-right: 50%;
  text-align: left;
  padding-top: 5px;
  padding-left: 4px;
  padding-bottom: 20px;
  font-size: 15px;
  color: rgb(73, 71, 71);
  border-bottom: 1px solid rgb(230, 224, 224);
}

#Promo {
  color: #2a9dcc;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;
}
#promoMin {
  display: none;
}
#promoMax {
  display: contents;
  display: flex;
}

.prodimg {
  width: 20%;
  height: 5%;
}
#rightPromoBox {
  text-align: center;
}
#box2 {
  width: 23%;
  height: 40%;
  background-color: #f4f4f4;
}

#inputText {
  display: flex;
  margin: auto;
}
#checkouthead {
  margin-right: 5%;
  margin-left: 2%;
  font-size: 18px;
}
#langcheckout {
  margin-left: 40%;
  margin-top: 2%;
  font-size: 14px;
  height: 20px;
  border: none;
  width: 70px;
  color: gray;
}
.dele {
  margin-bottom: 30px;
  text-align: center;
}
#newtitle {
  padding: 1px 0px 0px 10px;
}
#newtag {
  margin-top: 5%;
}
.newcircle,
.newcircle2 {
  color: white;
  background-color: black;
  padding: 0px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inputstyle {
  width: 95%;
  height: 35px;
  margin-top: 5%;
}
.inputstylecard {
  width: 61%;
  height: 30px;
  margin-top: 3%;
}
.inputstyle3 {
  width: 28%;
  height: 30px;

  margin-top: 3%;
}
.inputstyle1 {
  width: 45%;
  height: 47px;

  margin: 0 14px;
  margin-top: 2%;
}
#code {
  margin-left: 4%;
}
.inputstyle2 {
  width: 50%;
  height: 37px;

  margin-left: 6%;
  margin-top: 3%;
}

.promobtn {
  background-color: #2a9dcc;
  width: 100px;
  border: none;
  height: 43px;
  color: white;
  margin-top: 3%;
  margin-left: 7%;
}

#submitBtn {
  width: 350px;
  padding: 14px;
  background-color: black;
  border: none;
  color: white;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 12px;
  cursor: pointer;
}

#submitBtn:hover,
#submitBtn1 {
  opacity: 90%;
}

#submitBtn1 {
  width: 320px;
  padding: 14px;
  background-color: black;
  border: none;
  color: white;
  margin: auto;
  margin-top: 30px;
  font-size: 12px;
  cursor: pointer;
}

.proddess {
  margin-left: 30px;
}

.prodinfo {
  display: flex;
  padding: 10px;
}
.prodtext1 {
  font-size: 13px;
  font-weight: bold;
}
.prodtext2 {
  font-size: 13px;
  text-align: left;
}

.box1 {
  display: flex;
  padding-top: 10px;
  font-size: 14px;
  color: rgb(73, 71, 71);
  align-items: center;
}

.box1Div1 {
  font-size: 22px;
  padding-top: 2px;
}

.box1Div2 {
  padding: 10px 0px 0px 10px;
}

.delBox,
.payBox {
  display: flex;
  margin-bottom: 15px;
}

.delboxinfo {
  border-bottom: 1px solid rgb(230, 224, 224);
}

.newcircle2 {
  text-align: center;
}

.payBox {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(230, 224, 224);
}

.priceSummary {
  display: flex;
  justify-content: space-between;
}

.leftSummaryBox {
  text-align: left;
  width: 50%;
  font-size: 14px;
  color: rgb(73, 71, 71);
}

.leftSummaryBox div {
  padding-left: 20px;
  padding-top: 20px;
}

.leftSummaryBox div:nth-child(4) {
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.rightsummaryBox {
  text-align: right;
  width: 50%;
  font-size: 14px;
  color: rgb(73, 71, 71);
}

.rightSummaryBox div {
  padding-right: 20px;
  padding-top: 22%;
}

.rightSummaryBox div:nth-child(4) {
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.delAddDet {
  font-size: 13px;
  color: rgb(73, 71, 71);
}

.allCardDet {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(230, 224, 224);
}

.lastVal {
  font-size: 13px;
  color: rgb(73, 71, 71);
}
