/* TopHead css */
* {
  font-family: arial, helvetica, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.topHead {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}
.topHead a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

/* MidHead css */

.midHead {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px;
}

.midLogo {
  width: 210px;
  height: 68px;
  padding: 15px;
}

.rightBox {
  padding: 15px;
  display: flex;
  margin-left: auto;
  gap: 3px;
  align-items: center;
}

.cartIconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0px;
}

#cartIndicator {
  margin-bottom: -50%;
}

.cartIcon {
  filter: saturate(250%);
  width: 35%;
}

.catHead {
  font-size: 14px;
  padding: 20px 0 10px 40px;
}

.categories {
  text-decoration: none !important;
  color: rgb(65, 62, 62) !important;
  padding: 10px 1px 5px 0px;
  font-size: 12px;
  cursor: pointer;
}

.categories:hover {
  border-bottom: 1px solid black;
}

.popoverBox {
  display: flex;
  height: 600px;
  border-radius: 0px !important;
  box-shadow: 0px !important;
}

.catBox {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 150px;
}
