.topButton > button:nth-child(1) {
  background-color: rgb(228, 224, 224);
  color: rgb(41, 40, 40);
  font-size: 15px;
  border: 1px solid rgb(182, 179, 179);
  padding: 14px;
  width: 180px;
}
.topButton > button:nth-child(2) {
  background-color: transparent;
  width: 180px;
  color: black;
  font-size: 15px;
  padding: 14px;
  border: 1px solid rgb(182, 179, 179);
}
.topButton {
  margin-bottom: 30px;
}
.titleDiv {
  width: 290px;
  margin-bottom: 20px;
}
.titleDiv > p:nth-child(1) {
  line-height: 0;
  font-family: 450;
  font-size: 25px;
}
.titleDiv > p:nth-child(1) + p {
  margin: 0;
  font-size: 13px;
}
.cartDiv {
  width: 100%;
}
.firstDiv {
  font-size: 13px;
  display: flex;
}
.prodDis > p {
  line-height: 10px;
}
.prodDis > p:nth-child(6) > p:nth-child(1) {
  margin-top: 30px;
}
.prodDis > p:nth-child(6) > p:nth-child(1) + p {
  line-height: 22px;
  margin-left: 25px;
}
.prodDis > p:nth-child(3) {
  margin-top: 30px;
}
.firstDiv button {
  color: blue;
  font-weight: 450;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.imgDiv {
  object-fit: cover;
  width: 78px;
  height: 120px;
}
.imgDiv > img {
  max-width: 78px;
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
select {
  margin-top: 12px;
  height: 20px;
  border: none;
  font-size: 15px;
  margin-left: 60px;
  color: blue;
}
select + div {
  margin-left: 270px;
}
select + div > p:nth-child(1) {
  margin-left: 35px;
}
.mainDiv {
  margin-left: 180px;
  width: 58%;
}
.paymentDiv {
  width: 100%;
  display: flex;
}
.firstpayDiv {
  width: 50%;
}
.payImgDiv > img {
  width: 50px;
}

.paymentDiv p {
  font-size: 13px;
}
.checkOutBtn {
  width: 50%;
}
.checkOutBtn > div:nth-child(1) {
  display: flex;
}
.checkOutBtn > div:nth-child(1) p:nth-child(2) {
  margin-left: 280px;
}
.checkOutBtn > div:nth-child(1) p {
  font-size: 17px;
}
.checkOutBtn button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
}
.contttainer {
  display: flex;
}
.rightSection {
  border-left: 1px solid rgb(212, 208, 208);
  width: 26%;
  margin-left: 10px;
  height: 600px;
  margin-top: 100px;
}
.head {
  margin: 15px;
  font-weight: bold;
}
.sliderr {
  width: 62%;
  height: 180px;
  display: flex;
  margin: 10px;
}
.sliderr > div {
  width: 48%;
  margin: 2px;
}
.sliderr > div:nth-child(1) {
  object-fit: cover;
}
.sliderr img {
  max-width: 100%;
  max-height: 85%;
}
.sliderr > div:nth-child(2) > p {
  line-height: 10px;
  font-size: 13px;
  padding: 1px;
  margin-left: 5px;
}
.smallDiv > p {
  line-height: 5px;
  margin-left: 5px;
  font-size: 13px;
}
.smallDiv {
  margin-bottom: 8px;
}
