.discount {
  /* margin: auto; */
  /* width: 80%; */
  /* height: 150px; */
  /* background-color:#f6f6f6 */
  position: relative;
  margin-bottom: 4%;
}
.discountData {
  position: absolute;
  left: 29%;
  top: 20%;
  text-align: left;
  line-height: 10px;
}
.discount > img {
  width: 95vw;
  /* height: 50vh; */
}
.topCrousel {
  margin: auto;
  width: 95vw;
}
.SecCrousel {
  margin: auto;
  width: 95vw;
  margin-top: 40px;
}
.category {
  display: flex;
  width: 95vw;
  margin: auto;
}

.category > div > img {
  /* width:12vw; */
  height: 90%;
}
.GearPoster > img {
  width: 95vw;
  height: 60vh;
}
.openEdit {
  margin: auto;
  margin-top: 10vh;
  display: flex;
  width: 95vw;
  justify-content: content;
}
.openEdit > div {
  /* width:50% */
  text-align: left;
}

.openEdit > div > img {
  width: 100%;
}
.freeStyle > img {
  width: 95vw;
  height: 40vh;
}

.HomeSignIn {
  width: 250px;
  height: 40px;
  border: 1px solid;
  margin-bottom: 4%;
  background-color: white;
}
.HomeSignIn:hover {
  background-color: rgba(225, 225, 225, 0.624);
}

.Fashion_Crousel {
  margin: auto;
  width: 95vw;
  margin-bottom: 4%;
}
.BtsTheamed {
  margin: auto;
  width: 95vw;
  margin-bottom: 4%;
  position: relative;
}
.BtsTheamed_data {
  position: absolute;
  top: 20%;
  left: 4%;
  width: 43%;
}

.WinterDiscount {
  position: relative;
}

.WinterDiscount_data {
  position: absolute;
  top: 45%;
  left: 35%;
}
.category_title {
  margin-top: 3%;
  margin-bottom: 3%;
}

.twoBigBox {
  width: 95vw;
  margin: auto;
  margin-top: 4%;
  display: flex;
  text-align: left;
}
.twoBigBox img {
  height: 80%;
}

.pangaia, .blackHistory{
  width: 95vw;
  margin: auto;
  margin-top: 4%;
  position: relative;
}

.pangaia_data {
  position: absolute;
  width: 35%;
  left: 62%;
  top: 35%;
  text-align: left;
}

.blackHistory_data{
    position: absolute;
    left: 13%;
    top: 53%;
    width:35%
}
