.signInOptionsCont {
  display: flex;
  width: 250px;
  height: 400px;
}

.signInOptionsBox {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.signInOptionsBox a {
  text-decoration: none;
}

.signInOptionsBox:hover {
  display: block;
}

.optDum {
  text-decoration: none !important;
  color: rgb(65, 62, 62) !important;
  padding: 10px 1px 5px 0px;
  font-size: 12px;
  cursor: pointer;
}

.signInBtn {
  margin-top: 10px;
  width: 200px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

.signInBtn:hover {
  opacity: 90%;
}
