.successContainer {
    margin-top: 100px;
    display: flex;
}

.sucLeftBox {
    width: 40%; 
    margin-left: 10%;
    padding-left: 50px;
}

.sucRightBox {
    width: 50%;
}

.titleOne {
    font-size: 40px;
    padding: 20px;
    padding-left: 0px;
}

.titleTwo {
    font-size: 18px;
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 50px;
}

.continueShpButton {
    padding: 14px 70px 14px 70px;
    background-color: black;
    border: none;
    color: white;
    margin: auto;
    margin-top: 60px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.continueShpButton:hover {
    opacity: 90%;
}

.confirmProductsBox {
    width: 100%;
    display: flex;
    padding: 10px;
}

.confirmProductsBox img {
    height: 130px;
    width: 130px;
    object-fit: contain;
}