* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.mainDiiv {
  margin: 0;
  margin-top: 20px;
  width: 100%;
  display: flex;

  /* border: 1px solid blue; */
}
.productImages {
  /* border: 1px solid black; */
  height: 100rem;
  width: 50%;
}
.bagIcon {
  box-sizing: border-box;
}
.newproductD {
  box-sizing: border-box;
  /* border: 1px solid green; */
  position: relative;
  left: -100;
  transform: translateX(-100px);
  padding: 20px;
}
.productDetails {
  /* border: 1px solid green; */

  width: 50%;
  margin-left: 3rem;
}
.productAds {
  /* border: 1px solid red; */
  padding: 1rem;
  width: 8rem;
  margin-left: 5rem;
}
.selectSize {
  color: #393939;
  cursor: pointer;
  max-width: 30rem;
}
.sizeDiv {
  border: 1px solid #393939;
  width: 28rem;
  height: 2.5rem;
  margin-bottom: 2rem;
}
.btnDiv {
  cursor: pointer;
  width: 28rem;
  height: 2.5rem;
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 600;
}
.btnDiv:hover {
  background-color: #393939;
}
.productName {
  color: #393939;
  font-family: Arial, Helvetica, sans-serif;
}
.productBrand {
  color: #393939;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}
.productPrice {
  color: #393939;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.priceDesc {
  color: #393939;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}
.productDesc {
  color: #393939;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}
.productSize {
  color: #393939;
  font-family: Arial, Helvetica, sans-serif;
}
.productImages {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.productImages div img {
  width: 19rem;
}
/* .productImages img:hover {
  transform: scale(1.5);
} */

.productDescription {
  color: #393939;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.5rem;
  width: 50%;
}
.adsImage {
  width: 6rem;
}
.productAdsHeading {
  font-size: 0.9rem;
  font-weight: 600;
}

.adsBrand {
  font-size: 0.7rem;
  color: #393939;
}
.adsPrice {
  font-size: 0.8rem;
  font-weight: 600;
  color: #393939;
}
.ulDetails {
  font-size: 0.8rem;
}
.productD {
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
}
.gift {
  color: #393939;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  font-size: 0.8rem;
  width: 25rem;
}
#giftHeading {
  font-size: 1.3rem;
}
.shopGiftBtn {
  cursor: pointer;
  width: 200px;
  height: 40px;
}
img {
  cursor: pointer;
}
